on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  xcodebuild:
    name: ${{ matrix.target }} ${{ matrix.sdk }} Build
    runs-on: macos-latest
    strategy:
      matrix:
        sdk: [iphonesimulator, appletvsimulator, watchsimulator]
        target: [Orchard-ObjC, Orchard-Swift]
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install GYB
      run: brew install nshipster/formulae/gyb
    - name: xcodebuild
      run: xcodebuild -project Orchard.xcodeproj -target ${{ matrix.target }} -configuration Debug -sdk ${{ matrix.sdk }}
